div.informations {
    display: flex;
    align-items: center;
    height: 80vh;
    position: relative;
}

/* left */

div.informations div.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

article {
    padding: 20px;
    margin-left: 20px;
}

article.now {
    height: 25vh;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark_active);
    margin-top: 18px;
    margin-bottom: -2px;

    .left * {
        margin: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .info p {
        font-size: 12px;
        color: var(--dark_inactive);
    }

    .right .img {
        height: 100px;
        width: 100px;
    }
}

article.today {
    height: 25vh;
    width: 55vw;
    background-color: var(--dark_secondary);
    border-radius: 10px;

    .title {
        font-size: 11px;
        color: var(--dark_inactive);
    }

    .for_today {
        display: flex;

        h6.time {
            font-size: 10px;
        }

        .img {
            height: 20px;
            width: 20px;
        }
    }
}

.time_container {
    height: 14vh;
    width: 19vh;
    border-right: 1px solid var(--dark_inactive);
    margin-top: 10px;
    padding: 10px;
    color: var(--dark_inactive);
    display: flex;
    gap: 3px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* air conditions styles */

article.air_conditions {
    height: 30vh;
    width: 55vw;
    background-color: var(--dark_secondary);
    border-radius: 10px;
    color: var(--dark_inactive);
    font-size: 12px;

    .title {
        font-size: 11px;
        color: var(--dark_inactive);
    }

    button.seemore {
        height: 20px;
        width: 75px;
        background-color: #0197ff;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 11px;
        cursor: pointer;
    }

    .title_more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 5px; */
    }
}

article.air_conditions .airr h4 {
    font-weight: 900 !important;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 10px;
    color: var(--dark_active);
}

article.air_conditions div.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

article.air_conditions div.infos {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    padding-top: 10px;
}

/* future forecastes styles */

article.future {
    height: 85vh;
    width: 30vw;
    background-color: var(--dark_secondary);
    border-radius: 10px;
    margin-bottom: -20px;

    h4 {
        color: var(--dark_inactive);
        font-size: 13px;
    }

    .row {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        align-items: center;
        height: 10vh;
        border-bottom: 1px solid var(--dark_inactive);
    }

    .row .day,
    .row .feel,
    .row .numbs {
        font-size: 12px;
        color: var(--dark_inactive);
    }

    .row .weather_condition img {
        height: 25px;
        width: 25px;
    }

    .weather_condition {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    span.feel {
        color: var(--dark_active);
    }

    p.numbs {
        color: var(--dark_active) !important;

        .inactive {
            color: var(--dark_inactive);
        }
    }
}