div.informations {
    display: flex;
    align-items: center;
}

/* left */

div.informations div.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    padding: 20px;
}

article.now {

    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    color: var(--dark_active);

    .left * {
        margin: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .info p {
        font-size: 12px;
        color: var(--dark_inactive);
    }

    .right .img {
        height: 100px;
        width: 100px;
    }
}

article.today {
    height: 30vh;
    width: 50vw;
    background-color: var(--dark_secondary);
    margin-left: 20px;
    border-radius: 10px;

    .title {
        font-size: 12px;
        color: var(--dark_inactive);
    }

    .for_today {
        display: flex;
        flex-direction: column;

        .time {
            font-size: 11px;
        }

        .img {
            height: 30px;
            width: 30px;
        }
    }
}

.time_container {
    height: 16vh;
    width: 10vh;
    border-right: 1px solid var(--dark_inactive);
    margin: 20px;
    padding-right: 10px;
    color: var(--dark_inactive);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}