div.search {
    width: 55vw;
    height: 6vh;
    border-radius: 10px;
    margin-left: 20px;
    background-color: var(--dark_secondary);
    display: flex;
    align-items: center;
}

div.search input {
    outline: none;
    border: none;
    background-color: var(--dark_secondary);
    margin-left: 20px;
    color: var(--dark_inactive);
    width: 55vw;
}

div.search input::placeholder {
    color: var(--dark_inactive);
}